@keyframes slide {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(50%);
    }
  }
  
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .perspective {
    perspective: 2000px;
  }
  
  .backface-visibility-hidden {
    backface-visibility: hidden;
  }
  
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  